/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.fixedHeaderContainer {
    background: #004d97;
    color: #fff;
}

.buttonCTA {
    margin: 4px;
    border: 1px solid #FFF;
    border-radius: 3px;
    color: #FFF;
    background-color: #004d97;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: background 0.3s, color 0.3s;
  }
  .buttonCTA:hover {
    background-color: #FFF; /* we need another color for mouseover - see bcoin palette */
    border: 1px solid #004d97;
    color: #004d97;
  }

  /* Custom Classes */
.pm-bot-0 {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.projectTitle > smaller {
  display: block;
  color: #555;
  font-size: 25%;
  line-height: 1em;
  font-weight: 300;
  margin: 0.7em 0 1.3em;
  text-transform: uppercase;
  letter-spacing: 1.85;
}

/* These two add more whitespace to the main Hero on desktops 1200+ */
.homeContainer .homeWrapper {
  padding: 4em 10px !important;
}

@media only screen and (min-width: 1200px) {
  .homeContainer .homeWrapper .projectLogo {
    padding: 4em 100px 4em !important;
  }
}
/*                        end of hero whitespace                       */

.copyright > smallest {
  font-size: 5%;
}